body {
  background-image: url("img/home.jpg");
  background-size: cover;
}
body {
    background-color: #B8E3FF;
}



.class1 {
  text-align: center;
}
 
.class2 {
  text-align: center;
}
 
.class3 {
  text-align: center;
}

.class4 {
  text-align: center;
}
